.admin-add-user-course {
  .select2-container {
    width: 100% !important;
  }
  .select2-container .select2-selection--single {
    width: 100% !important;
    height: 37px !important;
  }

  .message-for-email {
    margin-top: 4px;
    font-size: 80%;
    color: #e3342f;
  }
}
