.email-container,
.reset-email-container {
  margin-top: 75px;
  margin-bottom: 110px;

  .card-header {
    background-color: white;
    border: none;
  }

  .card-header-top {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: var(--header_hoverBackgroundATag_color);
  }

  .card-header-bottom {
    margin-top: 15px;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: var(--footer_container_background);
  }

  .col-form-label {
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: var(--footer_container_background);
  }

  input {
    background-color: #F2F2F2;
  }

  .button-submit {
    margin-top: 30px;
  }

  .submit-email-button {
    height: 42px;
    padding-left: 32px;
    padding-right: 32px;
    background: var(--header_hoverBackgroundATag_color);
    box-shadow: inset 0px 1.5px 2px #6F8710;
    border-radius: 22px;
    font-family: var(--card_body_fonts_family);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: white;

    &:hover {
      color: var(--footer_container_background);
    }
  }
}
